aws_region           = "us-east-1"
env                  = "production"
api_domain           = "api.loyiha.uz"
route53_zone_id      = "Z0123456789ABC"
alert_email          = "ibrohimjonovm2006@gmail.com"

db_password          = "KUCHLI-PAROL-YOZING"
bot_token            = "123456:BotFather-dan-olingan-token"
anthropic_api_key    = "sk-ant-..."
jwt_secret           = "64-belgili-tasodifiy-satr"
admin_jwt_secret     = "boshqa-64-belgili-tasodifiy-satr"
webhook_secret_path  = "tasodifiy-maxfiy-path"
webhook_secret_token = "tasodifiy-maxfiy-token"
click_secret_key     = ""
payme_secret_key     = ""
